# s3 credentials
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_DEFAULT_REGION=“us-east-2"
S3_BUCKET_NAME=your_bucket_name
S3_BUCKET_URL="s3://proj-renegade/dlt/landing/"

# starburst galaxy credentials
S3_ICEBERG_PATH_PREFIX=s3://proj-renegade/
STARBURST_CLUSTER_URL=your_cluster_url
STARBURST_CLUSTER_PORT=your_cluster_port
STARBURST_CLUSTER_USER=your_username
STARBURST_CLUSTER_PASSWORD=your_password

# dlt credentials
SOURCES__REST_API__NYC_OPEN_DATA_APP_TOKEN=your_app_token
DESTINATION__FILESYSTEM__BUCKET_URL=${S3_BUCKET_URL}
DESTINATION__FILESYSTEM__CREDENTIALS__AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
DESTINATION__FILESYSTEM__CREDENTIALS__AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
DESTINATION__FILESYSTEM__CREDENTIALS__REGION_NAME=${AWS_DEFAULT_REGION}

# app environment
APP_ENV=dev