[sources.rest_api]
nyc_open_data_app_token = "YOUR_APP_TOKEN"

[destination.filesystem]
bucket_url = "s3://proj-renegade" 
# bucket_url = "OR_YOUR_LOCAL_FILE_PATH"

[destination.filesystem.credentials]
aws_access_key_id = "YOUR_AWS_ACCESS_KEY_ID"
aws_secret_access_key = "YOUR_AWS_SECRET_ACCESS_KEY"

